body,h1,ul,li,p{
  margin: :0;
  padding:0;
}

#monSliderParent{
  background-color:red;
  padding:2px;
  height:300px;
  position:relative;
  overflow:hidden;

}
  #monSliderContent{
    position:absolute;
    top:0;
    left:0;
    width:400%;
    height:100%;
    display:flex;
    flex-flow:wrap;
    transition:0.35s;

  }

  #monSlidersArrows{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content:space-between;
  }
  .slide{

    width:25%
  }
  #monSliderSlide{
    background-color:red;

  }
  #monSliderSlide2{
    background-color:blue;

  }
  #monSliderSlide3{
    background-color:green;

  }
  #monSliderSlide4{
    background-color:yellow;

  }
