body,h1,ul,li,p{
  margin: :0;
  padding:0;
}

#monProjectParent{
  padding:2px;
  height:300px;
  position:relative;
  overflow:hidden;

}
  #monProjectContent{
    /*position dans la page*/
    position:absolute;
    top:0;
    left:0;
    width:400%;
    height:100%;
    display:flex;
    flex-wrap:wrap-reverse;
    transition:0.35s;

  }
  #monProjectArrows{
    position:relative;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content:space-between;
  }
  .slide{
    width: 25%;
  }
  #monProjectSlide1{
    background-color:red;

  }
  #monProjectSlide2{
    background-color:blue;

  }
  #monProjectSlide3{
    background-color:green;

  }
  #monProjectSlide4{
    background-color:yellow;

}
